<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fpx.xinyou.oprtmapper.OprtDataMapper">
	<select id="getBgCodeNum" resultType="int"  parameterType="string">  
     	 select count(1) from tms_bag where bg_code = #{1}
	</select>
	
	
	
	<select id="getBgIdByCode" resultType="long"  parameterType="string">  
     	 select bg_id from oprt.tms_bag where bg_code = #{1}
	</select>
	
	<select id="getBsIds" resultType="long"  parameterType="long">  
     	 select BS_ID from  oprt.tms_bagitem  where bg_id = #{1} union all
		 select BS_ID from  oprt.tms_bagitem_sort  where bg_id = #{1}
	</select>
	
	<!-- 获取  t_sg_bag id -->
	<select id="getSgBagIdByCode" resultType="long"  parameterType="string">  
     	 select ID from oprt.t_sg_bag where bg_code = #{1}
	</select>
	
	<select id="getSgBsIds" resultType="long"  parameterType="long">  
     	 select BS_ID from  oprt.t_sg_bagitem  where bg_id = #{1} union all
		 select BS_ID from  oprt.tms_bagitem_sort  where bg_id = #{1}
	</select>
	
	
</mapper>